*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  max-width: 420px;
  margin: 0 auto;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
#root, #__next {
  isolation: isolate;
}

ul{
  list-style: none;
  padding: 0;
}

.header,#footer{
  background-color: #f5f5f5;

}

.header{
  height: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header h1{
  padding-top: 36px;
  margin-bottom:8px;
}

.subheader{
  padding: 24px 16px;
}

.subheader h6{
  text-align: center;
  margin-bottom: 32px;
}


.schedule{
  padding: 26px 16px ;
}

#schedule-toggle{
    display: flex;
    margin: 8px 0 16px;
}


.toggle-button{
    border:0;
    background-color: transparent;
    cursor: pointer;
    border-bottom: 1px solid #000;
    opacity: 0.3;
    transition: opacity 0.3s ease-in-out;
    padding: 10px;
    flex:1;
}
.toggle-button:hover{
 opacity: 0.8;
}

.toggle-button[data-active="isActive"]{
    opacity: 1;
    border-width: 2px;
    font-weight: 600;
}

#activities-filters{
  display: flex;
  width: 100%;
  gap:8px;
}

.select-container{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.select-container.hide{
  display: none;
}
 /* Date special classes */
.select-container{
  position:relative;
}

.select-container>.date-placeholder{
  --topPosition: 20px;
  position: absolute;
  top: var(--topPosition);
  height: calc(99% - var(--topPosition));
  left:1px;
  width: calc(100% - 24px);
  padding-top:8px;
  padding-left:4px;
  background-color: #fff;
  border-radius: 3px;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}
.date-placeholder.hide{
  opacity: 0;
}


.select-container > input,
.select-container > select{
height: 40px;
}

.select-container>select > option + option{
  border-top:1px solid'
}
.select-label{
  font-size: 10px;
  text-transform: uppercase;
  margin-bottom:4px;
}

.schedule-header{
  margin-top: 16px;
  margin-bottom: 8px;
  text-transform: capitalize;
}
.schedule-header>h3{
  font-size: 24px;
  font-weight: 400;
  
}

.activity-card-list:not(:first-of-type){
  margin-top: 16px;
}

.activity-card-item,.activity-card-item-empty{
  border:1px solid;
  border-radius: 3px;
}

.activity-card-item-empty{
  padding: 16px;
}

.activity-card-item + .activity-card-item{
  margin-top:8px;
}
.activity-card-item.isOutOfTime{
  opacity: 0.3;
}

.activity-card{
  padding: 12px;
  display:grid;
  grid-template-columns: 1fr max-content;
  grid-template-rows: repeat(2,1fr);
  grid-template-areas: 'title time'
  'teacher teacher';
}

.activity-card-title{
  grid-area: title;
  font-size: 16px;
  text-transform: uppercase;
}
.activity-card-time{
  grid-area: time;
  font-size: 16px;
}
.activity-card-teacher{
  grid-area: teacher;
  font-size: 16px;
  text-transform: capitalize;
}

#footer{
  padding: 24px;
}

.footer-list{
  display: flex;
  flex-direction: column;
}
.footer-list-item{
  text-transform: capitalize;
  text-align: center;
  width: 100%;
}

.footer-list-item a{
  color:#333;
  text-decoration: none;
  width: 100%;
  display: block;

}

.footer-list-item + .footer-list-item{
  margin-top:8px;
}